* {
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
	
}

/*----------- ROSA DO TIKOTECO --------------- 
#FAC569 ou #8061A7
#FF0050
----------- ROSA DO TIKOTECO --------------- */

/*----------- TAG HEADER --------------- */
header {
	position: absolute;
	width: 100%;
	height: 200px;
    background: #227093;
	padding: 30px;
	border: none;
}

/*----------- FIM TAG HEADER --------------- */

/*----------- TAG MAIN --------------- */
main{
	margin-top:200px;
}
/*----------- FIM TAG MAIN --------------- */

/*----------- CONTAINER --------------- */
.container {
    width: 100%; 
    text-align: center; 
    float: left; 
    padding: 3% 4%;
}
/*----------- FIM CONTAINER --------------- */

/*----------- CABEÇALHO --------------- */

.logo {
	width: 135px; 
	height: 145px; 
	float: left; 
    background: url(../anexos/logo.png) center center/135px no-repeat; 
	font-size: 0px;
}
.logo-banner-secundario {
	width: 700px; 
	height: 250px;
	left: 50%; background: url(../anexos/Spotify-logo.png) center center/700px no-repeat; 
	font-size: 0px;
	margin: 0;
	align-items: center;
	left: 120px;
	position: absolute;
	bottom: -100px;
}


/*----------- FIM CABEÇALHO --------------- */

/*----------- HAMBURGUER MENU --------------- */
.menu-wrap{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 30px;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	right: 0;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	right: 0;
	width: 145px;
	height: 145px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: linear-gradient(to right, #fac569, #ff0050);
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #fff;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #fff;
	top: -10px;
	right: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #ffff;
	top: 10px;
	right: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 100vh; 
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-weight: 550;
	text-transform: uppercase;
	margin: .5rem;
	margin-top: 25%;
	transition: .3s;
	font-size: 4.2rem;
	display: inline-block;
}

.menu > div > div > ul > li > a:hover{
	color: #fff;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}
/*----------- FIM HAMBURGUER MENU --------------- */

/*----------- BANNER --------------- */

.banner {
    /*background: url(../anexos/Banner.jpg) no-repeat fixed;*/
	position: relative;
    background: linear-gradient(to top, #2c2c54 25%, #227093);
	height: 1000px;
	top: 180px;
    border: none;
}

svg{
	position: relative;
	padding: 0;
	top: 145px;
}

#content-banner{
	position: absolute;
	bottom: 35%;
}

.title {
    width: 100%;
}
.title h2 {
	text-align: left;
    font-size: 5.5em; 
    color: #fff; 
    font-weight: 700;
}
.title h3 {
	text-align: left;
    font-size: 3.5em; 
    color: #fff;
}

.buttons {
    width: 100%; 
    margin-top: 10%;
}
.buttons i {
    float: right;
}
.btn {
    width: 100%; 
    font-size: 3.5em; 
    cursor: pointer; 
    text-align: left; 
    padding: 5%; 
    border-radius: 10px; 
}
.btn-cadastrar {background-color: #fff; color: #130400;}
.btn-sobre {margin-top: 2%; background-color: #130400; color: #fff;}

/*----------- FIM BANNER --------------- */

/*----------- SERVIÇOS --------------- */
.servico {
	width: 100%; 
	background-color: #fff; 
	text-align: left; 
	border-radius: 7px; 
	margin-bottom: 3%;
} 
.servico img {
	width: 100%;
	border-radius: 7px;
}

.inner {
	padding: 2%;
}
.inner a {
	font-size: 1.5em; 
	color: #130400; 
	font-weight: 700;
}
.inner h4 {
	font-size: 1.2em; 
	color: #130400; 
	margin-top: 2%;
}
.inner p {
	margin-top: 6%; 
	color: #130300; 
	line-height: 1.5em;
}
/*----------- FIM SERVIÇOS --------------- */

/*----------- NEWSLETTER --------------- */
.newsletter {
	background-color: #130300;
}
.newsletter h2 {
	font-size: 5.2em; 
	color: #fff; 
	font-weight: 700;
}
.newsletter h3 {
	font-size: 3.2em; 
	color: #fff;
	margin: 5%;
	margin-top: 0;
}
.newsletter form {
	font-size: 3.2em; 
	margin-top: 2%;
}
.newsletter label {
	color: #fff;
	float: left;
	
}
.newsletter input {
	width: 100%;
	background-color: #130400; 
	color: #fff; 
	border: 1px solid rgba(255, 255, 255, 0.3); 
	padding: 5%; 
	border-radius: 5px; 
	margin-top: 1%;
	margin-bottom: 2%;
}
.newsletter button {
	width: 100%; 
	background-color: #fff; 
	color: #130400; 
	padding: 5%; 
	border-radius: 5px; 
	cursor: pointer; 
	margin-top: 2%;
}

/*----------- FIM NEWSLETTER --------------- */

/*----------- BOX FORMULARIO --------------- */
.box-form{
	position: relative;
	padding: 30px;
	width: 800px;
	height: 1000px;
	align-items: center;
	bottom: 0;
    top: 50%;
    left: 50%;
    margin-top: 500px;
    transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0 0 5px  #2c2c54;
} 

.btn-border {
	border: 1px solid #000; 

}
.box-form input{
	width: 100%;
	background-color: #fff; 
	color: #fff; 
	border: 1px solid #000; 
	padding: 5%; 
	border-radius: 5px; 
	
}
.box-form label {
	font-size: 3.2em;
	margin-top: 10px;
	float: left;
}
.box-form h2 {
	font-size: 5.2em; 
	color: #000; 
	font-weight: 700;
}
.box-form form {
	align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -100%;
    transform: translate(-50%, -50%);
}

/*----------- FIM BOX FORMULARIO --------------- */

/*----------- RODAPÉ --------------- */
.rodape {
	background: linear-gradient(to right, #fac569, #ff0050);

	bottom: 0;
}

.social-icons a {
	font-size: 3.5em; 
	color: rgba(255, 255, 255, 0.7); 
	margin-right: 3%;
}
.social-icons a:last-child {
	margin-right: 0;
}
.social-icons a:hover {
	color: rgba(255,255,255);
}
.copyright {
	font-size: 3.2em; 
	margin-top: 2%; 
	color: rgba(255, 255, 255, 0.7);
}

/*----------- FIM RODAPÉ --------------- */
